#logo {
    height: 50px;
}

#navbarNav {
    margin-left: 1400px;
}

.nav-link:hover {
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
    box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
}

.carousel{
    height: 90.7vh;
    background: url(images/istockphoto-841049258-612x612.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.carousel-item {
    height: 90.7vh;
    width: 100vw;
}

.card-text {
    text-align: center;
}

.interrupteur {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(255, 255, 255);
}

.prez {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.container {
    margin-top: 100px;
    width: 1408px;
    height: 709px;
}

.sexe {
    margin-top: 100px;
}

.sexe-choice {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.team {
    display: flex;
	flex-direction: row;
    justify-content: space-around;
}

.clone {
    text-align: center;
    width: 500px;
    height: 50px;
    left: 31px;
    top: 1266px;
    border-radius: 14px;
}

.transfert {
    text-align: center;
    width: 500px;
    height: 50px;
    left: 31px;
    top: 1266px;
    border-radius: 14px;
}

.indisponible {
    color: red;
}

.card-img-top {
    width: 311px;
    height: 404px;
    text-align: center;
}

.custom-control-input {
    width: 20px;
}

.container-card {
    width: 1200px;
    margin-top: 100px;
    margin-left: -50px;
    display: flex;
	flex-direction: row;
    justify-content: space-around;
}

.card {
    background-color:#ffffff;
    border:1px solid rgb(24, 24, 24) inset;
    padding:5px;
    box-shadow: 
        2px 2px 0 rgba(44, 44, 44, 0.4),
        -2px -2px 0 rgb(134, 134, 134);
    }

.counter {
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bonus {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.montant {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
    box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
}

#btn1 {
    border-radius: 15px;
    text-align: center;
    height: 25px;
    width: 25px;
}

#btn2 {
    border-radius: 15px;
    text-align: center;
    height: 25px;
    width: 25px;
}

#square {
    margin-left: 5px;
    width: 25px;
    padding: 25px;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
}

#s2 {
    margin-left: 0px;
    width: 15px;
    padding: 15px;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
}

#s2:hover {
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
    box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
    border-color: #65bd82;
    border-radius: 10px;
}

#li.s2{
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
    box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
    border-color: #65bd82;
    border-radius: 10px;
}

#black-square {
    margin-left: 5px;
    width: 25px;
    padding: 25px;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.ajouts {
    margin-top: 100px;
}

#bs2 {
    margin-left: 0px;
    width: 15px;
    padding: 15px;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.square-one {
    background-color: rgba(0, 0, 255, 0.3);
}

.square-two {
    background-color: rgba(255, 0, 0, 0.3);
}

.square-three {
    background-color: rgba(255, 255, 0, 0.3);
}

.square-four {
    background-color: rgba(165, 42, 42, 0.3);
}

.square-five {
    background-color: rgba(94, 44, 44, 0.3);
}

.square-six {
    background-color: rgba(0, 0, 0, 0.3);
}

.square-seven {
    background-color: rgba(192, 192, 192, 0.3);
}

.square-eight {
    background-color: rgba(128, 128, 128, 0.3);
}

.square-nine {
    background-color: rgba(0, 128, 0, 0.3);
}

.square-ten {
    background-color: rgb(162, 0, 255, 0.3);
}

.square-one2 {
    background-color: blue;
}

.square-two2 {
    background-color: red;
}

.square-three2 {
    background-color: yellow;
}

.square-four2 {
    background-color: brown;
}

.square-five2 {
    background-color: rgb(94, 44, 44);
}

.square-six2 {
    background-color: black;
}

.square-seven2 {
    background-color: silver;
}

.square-eight2 {
    background-color: grey;
}

.square-nine2 {
    background-color: green;
}

.square-ten2 {
    background-color: rgb(162, 0, 255);
}

.select-color {
    width: 1000px;
    display: flex;
	flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-family: 'Train One', cursive;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-family: 'Train One', cursive;
    text-decoration: underline;
}

h3 {
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}

.femme {
    height: 400px;
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    background-color:rgb(255, 255, 255);
    padding:5px;
    box-shadow:4px 4px 4px rgb(85, 85, 85),
    -2px -2px 4px rgb(182, 182, 182);
}

.symbole-f {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 94.5px;
    margin-right: 94.5px;
}

.apparence {
    margin-top: 100px;
}

.homme {
    height: 400px;
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    background-color:rgb(255, 255, 255);
    padding:5px;
    box-shadow:4px 4px 4px rgb(85, 85, 85),
    -2px -2px 4px rgb(182, 182, 182);
}

.symbole-h {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.clone {
    box-shadow: 0 1px 0 #eee,
    0 2px 0 #e5e5e5,
    -1px 3px 0 #C8C8C8,
    -1px 4px 0 #C1C1C1,
    -2px 5px 0 #B9B9B9,
    -2px 4px 0 #B2B2B2,
    -2px 3px 2px rgba(0,0,0, 0.6),
    -2px 3px 8px rgba(0,0,0, 0.2),
    -2px 3px 45px rgba(0,0,0, 0.4);
}

.transfert {
    box-shadow: 0 1px 0 #eee,
    0 2px 0 #e5e5e5,
    -1px 3px 0 #C8C8C8,
    -1px 4px 0 #C1C1C1,
    -2px 5px 0 #B9B9B9,
    -2px 4px 0 #B2B2B2,
    -2px 3px 2px rgba(0,0,0, 0.6),
    -2px 3px 8px rgba(0,0,0, 0.2),
    -2px 3px 45px rgba(0,0,0, 0.4);
}

.color-hair {
    margin-top: 25px;
}

.color-eyes {
    margin-top: 25px;
}

.jauges {
    margin-top: 25px;
}