#logo {
    height: 50px;
}

#navbarNav {
    margin-left: 1400px;
}

.nav-link:hover {
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
    box-shadow: 2px 2px 5px #616161,
    -2px -2px 5px #999999;
}

.carousel{
    height: 90.7vh;
    background: url(images/istockphoto-841049258-612x612.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.carousel-item {
    height: 90.7vh;
    width: 100vw;
}

.card-text {
    text-align: center;
}

.interrupteur {
    display: flex;
    justify-content: center;
}

body {
    background-color: gray;
}

.prez {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.container {
    margin-top: 100px;
    width: 1408px;
    height: 709px;
    left: 16px;
    top: 1266px;
    background-color: rgb(255, 255, 255);
}

.sexe {
    margin-top: 100px;
}

.sexe-choice {
    display: flex;
    justify-content: space-around;
}

.team {
    display: flex;
	flex-direction: row;
    justify-content: space-around;
}

.clone {
    text-align: center;
    width: 500px;
    height: 50px;
    left: 31px;
    top: 1266px;
    background: #C4C4C4;
    border-radius: 14px;
}

.transfert {
    text-align: center;
    width: 500px;
    height: 50px;
    left: 31px;
    top: 1266px;
    background: #C4C4C4;
    border-radius: 14px;
}

.indisponible {
    color: red;
}

.card-img-top {
    width: 311px;
    height: 404px;
    text-align: center;
}

.container-card {
    display: flex;
	flex-direction: row;
    justify-content: space-around;
}

.card {
    background-color:#ffffff;
    border:1px solid gray inset;
    padding:5px;
    box-shadow:2px 2px 10px rgb(167, 167, 167) inset;
    -moz-box-shadow:2px 2px 10px rgb(167, 167, 167) inset;
    -webkit-box-shadow:2px 2px 10px rgb(167, 167, 167) inset;
    }

.counter {
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ajout-un {
    display: flex;
    justify-content: center;	
}

#btn1 {
    border-radius: 15px;
    text-align: center;
    height: 25px;
    width: 25px;
}

#btn2 {
    border-radius: 15px;
    text-align: center;
    height: 25px;
    width: 25px;
}

#square {
    margin-left: 5px;
    width: 25px;
    padding: 25px;
    border: solid;
    border-color: black;
    border-radius: 10px;
}

#black-square {
    margin-left: 5px;
    width: 25px;
    padding: 25px;
    border: solid;
    border-color: white;
    border-radius: 10px;
}

.square-one {
    background-color: blue;
}

.square-two {
    background-color: red;
}

.square-three {
    background-color: yellow;
}

.square-four {
    background-color: brown;
}

.square-five {
    background-color: brown;
}

.square-six {
    background-color: black;
}

.square-seven {
    background-color: silver;
}

.square-eight {
    background-color: grey;
}

.square-nine {
    background-color: green;
}

.square-ten {
    background-color: rgb(162, 0, 255);
}

.select-color {
    display: flex;
	flex-direction: row;
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.femme {
    height: 400px;
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
}

.symbole-f {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 94.5px;
    margin-right: 94.5px;
}

.homme {
    height: 400px;
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
}

.symbole-h {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}