#logo {
    height: 50px;
    margin-left: 49vw;
}

#navbarNav {
    margin-left: 500px;
}

body {
    background-color: gray;
}

.accueil {
    height: 90.7vh;
    width: 100vw;
    background-image: url(images/gettyimages-930662740-612x612.jpg);
    background-size: cover;
}

.container {
    width: 1408px;
    height: 709px;
    left: 16px;
    top: 1266px;
    background-color: rgb(255, 255, 255);
}

.team {
    display: flex;
	flex-direction: row;
    justify-content: space-around;
}

.clone {
    text-align: center;
    width: 500px;
    height: 50px;
    left: 31px;
    top: 1266px;
    background: #C4C4C4;
    border-radius: 14px;
}

.transfert {
    text-align: center;
    width: 500px;
    height: 50px;
    left: 31px;
    top: 1266px;
    background: #C4C4C4;
    border-radius: 14px;
}